

<% layout("/layouts/boilerplate") %>

    <body>
        <h2>Create Your Own Listing</h2>
        <br>
        <div class="container">

            <h2>Create Your Own Listing</h2>
            <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
                <label for="title">Title</label>
                <input type="text" id="title" name="listing[title]" value="<%= listing.title %>" required>
                <br><br>
                <label for="desc">Description</label>
                <textarea name="listing[description]" id="desc"><%= listing.description %></textarea>
                <br><br>
                <label for="fln">Image Name</label>
                <input type="text" id="fln" name="listing[image][filename]" value="<%= listing.image.filename %>" >
                <br><br>
                <label for="url">Image URL</label>
                <input type="text" name="listing[image][url]" value="<%= listing.image.url %>" id="url" >
                <br><br>

                <label for="priceL">Price</label>
                <input type="number" name="listing[price]" id="priceL" value="<%= listing.price %>">
                <br><br>
                <label for="lcn">Location</label>
                <input type="text" name="listing[location]" value="<%= listing.location %>" id="lcn">
                <br><br>
                <label for="cnty">Country</label>
                <input type="text" id="cnty" name="listing[country]" value="<%= listing.country %> ">
                <br><br>
                <button type="submit">Update Listing</button>
            </form>
        </div>

    </body>
